.img_white {
    pointer-events: none;
    filter: invert(92%) sepia(99%) saturate(5710%) hue-rotate(184deg) brightness(125%) contrast(92%);
}

.color-icons {
    display: inline-block;
    background: url(./images/hair-colors.png);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.color-icons:hover {
    opacity: 0.7;
}
